@media only screen and (max-width: 992px) {
    main { padding-left: 0; }
    aside.left-side { left: -260px; }
    aside.right-side { width: 45%; }
    .navbar-left { margin-left: 0 !important; }
    .breadcrumb-container { display: none; }
    table.responsive-table thead tr { padding: 0; }
    table.striped > tbody > tr:nth-child(even) { background-color: $white; }
    table {
        thead {
            background-color: $white;

            tr > th {
                font-weight: bolder;
                font-size: 12px;
                padding: 8px !important;
                line-height: 1 !important;

                &:first-child { padding-left: 0px; }
            }

            .payments-widget, .members-widget {
                th:nth-child(1),
                th:nth-child(2),
                th:nth-child(3),
                th:nth-child(4),
                th:nth-child(5) { width: 100% !important; }
            }

        }

        tbody {
            background-color: $white;

            tr {
                width: 100%;

                > td {
                    border-bottom: 1px solid #F0F0F0;

                    &:first-child { padding-left: 8px !important; }
                    .qty, .user-email { display: none; }
                }
            }
        }

        &.recent-orders, &.users-list {
            tbody tr > td:last-child { padding-right: 0 !important; }
        }
    }

    .card .card-image .card-title { display: none; }
    .gallery-container {
        .gallery-view .gallery-images .album-header { padding: 20px 15px; justify-content: center; }
        .gallery-view .gallery-images .album-header .album-title { display: none; }
        .gallery-view .gallery-images .alb um-header .album-actions ul li { padding-left: 10px; }
    }

    .actions-container, .order-summary { margin-top: 25px; }
}

@media only screen and (min-width: 993px) {
    .navbar-toggle { display: none; }
}

@media only screen and (max-width: 600px) {
    .card .card-image .card-title { display: initial; }
    aside.right-side { width: 100%; }
}
